# Python
.venv/

# 忽略 Python 快取檔案
__pycache__/
*.pyc

# Jupyter Notebook
# ==============================================================================
# 忽略 Jupyter 自動產生的檢查點資料夾
.ipynb_checkpoints/

# 專案特定檔案
# ==============================================================================
# 忽略整個 data 資料夾 (資料檔案太大，不適合上傳)
data/

*.csv
*.png
*.pdf
submission*.csv
result.csv

.DS_Store

.vscode/